.warranty {
  @extend %container-wide;

  @media (min-width: 1200px) {
    position: relative;
    padding-top: 88px;
  }
}

.warranty__title-wrapper {
  @extend %container-narrow;

  @media (max-width: 767px) {
    padding-top: 54px;
    padding-bottom: 16px;
    background-color: $colorBackground;
  }
}

.warranty__title {
  @extend %title;

  @media (min-width: 768px) {
    margin-bottom: 43px;
  }

  @media (min-width: 1200px) {
    width: 600px;
    margin-bottom: 42px;
  }
}

.warranty__container {
  background-color: $colorBackground;
}

.warranty__inner {
  @extend %container-narrow;

  @media (max-width: 767px) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: 768px) {
    padding-top: 43px;
    padding-bottom: 75px;

    @media (max-width: 1199px) {
      max-width: 768px;
    }
  }

  @media (min-width: 1200px) {
    padding-top: 33px;
    padding-bottom: 102px;
    padding-left: 84px;
  }
}

.warranty__refund {
  max-width: 538px;
  margin: 0 auto 24px;
  font-weight: $fontWeightBold;
  font-size: $fontSizeTitleSmall;
  text-transform: uppercase;
  letter-spacing: $letterSpacing;

  @media (max-width: 767px) {
    padding-right: 11px;
    padding-left: 11px;
    line-height: $lineHeightTitleSmall;
  }

  @media (min-width: 768px) {
    margin-bottom: 34px;
    font-size: $fontSizeTextSmall;
  }

  @media (max-width: 1199px) {
    text-align: center;
  }

  @media (min-width: 1200px) {
    margin-bottom: 44px;
    margin-left: 0;
  }
}

.warranty__figure {
  @media (max-width: 1199px) {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    @media (min-width: 768px) {
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  @media (min-width: 1200px) {
    width: 571px;
  }
}

.warranty__image {
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }

  img {
    display: block;
    width: 280px;

    @media (min-width: 1200px) {
      position: absolute;
      top: 0;
      right: calc(50% - 554px);
      width: 416px;
    }
  }
}

.warranty__caption {
  box-sizing: border-box;

  @media (max-width: 767px) {
    width: 100%;
    max-width: 375px;
  }

  @media (min-width: 768px) {
    position: relative;
    padding: 19px 19px 18px;
    background-color: $colorWhite;

    @media (max-width: 1199px) {
      width: 415px;
    }
  }
}

.warranty__caption-inner {
  @media (min-width: 768px) {
    border: 1px solid rgba($colorPrimaryLight, 0.6);
    border-radius: 2px;
  }
}

.warranty__caption-legend {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $fontWeightBold;
  font-size: $fontSizeTextSmall;
  text-align: center;
  color: $colorPrimaryLight;
  text-transform: uppercase;
  letter-spacing: $letterSpacing;

  @media (max-width: 767px) {
    margin-bottom: 6px;
  }

  @media (min-width: 768px) {
    position: absolute;
    top: 8px;
    left: 63px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: $fontSizeTextSmall;
    background-color: $colorWhite;
  }
}

.warranty__caption-text {
  padding-right: 11px;
  padding-left: 11px;

  @media (max-width: 767px) {
    margin-bottom: 23px;
  }

  @media (min-width: 768px) {
    padding: 84px 10px 73px 29px;
  }

  @media (min-width: 1200px) {
    padding: 45px 40px 46px 50px;
  }

  p {
    margin-top: 0;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 1200px) {
      margin-bottom: 14px;
      line-height: $lineHeightText;
    }
  }
}

.warranty__button {
  @media (min-width: 1200px) {
    margin-left: auto;
  }
}
